:root {
    --bg0: #161616;
    --bg1: #262626;
    --bg2: #393939;
    --fg: #dde1e6;
    --blue: #33b1ff;
    --cyan: #3ddbd9;
    --green: #42be65;
    --magenta: #ff7eb6;
    --red: #ee5396;
    --yellow: #ffe97b;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 700;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 700;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: "Nerd Font";
    src: url("assets/fonts/BlexMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------------------------------------- */
/* Main */
/* ---------------------------------------------------------- */

html {
    background-color: var(--bg0);
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--fg);
    line-height: 24px;
    font-weight: normal;
    text-align: left;
}

body {
    margin: auto;
    max-width: 720px;
    margin-bottom: 1em;
}

main {
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--bg1);
}

section,
header {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
    border-radius: 5px;
    padding: 1em;
}

header {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0.7em;
}

.github-icon a {
    font-size: 1.5em;
    margin-right: 0.2em;
    color: var(--fg);
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 16px;
}

.icon {
    display: inline;
    font-family: 'Nerd Font';
    font-style: normal;
}

a,
mark {
    background: none;
    color: var(--green);
}

mark {
    white-space: nowrap;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

code {
    background: var(--bg1);
    padding: 0.2em;
}

nav {
    display: flex;
    gap: 1em;
}

nav:hover a {
    opacity: 0.7;
    filter: grayscale(25%);
}
nav a:hover {
    opacity: 1;
    filter: grayscale(0%) !important;;
}
nav a {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
                filter 0.3s ease;
}
header nav a:first-child {
    color: var(--red);
}
header nav a:nth-child(2) {
    color: var(--yellow);
}
header nav a:nth-child(3) {
    color: var(--green);
}
header nav a:nth-child(4) {
    color: var(--blue);
}
header nav a[aria-current="page"]::before {
    content: "\00BB";
}

hr {
    color: var(--bg1);
    background-color: var(--bg1);
    border: none;
    height: 1px;
}

img {
    max-width: 100%;
    height: auto;
}

q {
    display: block;
    padding: 0.5em;
    padding-left: 1em;
    border-left: 4px solid var(--green);
    background-color: var(--bg1);
}

ul {
    padding-left: 1em;
}

.section-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}

/* ---------------------------------------------------------- */
/* Home */
/* ---------------------------------------------------------- */


ul li.heart-li {
    list-style: none;
    position: relative;
    padding-left: 1.2em;
}

ul li.heart-li::before {
    content: "\f004";
    font-family: "Nerd Font";
    font-size: 14px;
    display: inline-block;
    margin-left: -2.6em;
    width: 1.2em;
}

/* ---------------------------------------------------------- */
/* Music */
/* ---------------------------------------------------------- */

audio {
    width: 100%;
    background-color: var(--bg1);
}

/* ---------------------------------------------------------- */
/* Projects */
/* ---------------------------------------------------------- */

.project-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: left;
}

.project-card h2,
.project-card p {
    margin: 0;
}

.project-card img {
    height: 100%;
    max-width: 5em;
    object-fit: cover;
    margin-right: 1em;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------------------------------------------------------- */
/* Blog */
/* ---------------------------------------------------------- */

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.blog-title h1,
.blog-title h3,
.blog-title p {
    margin: 0;
}

@media (max-width: 480px) {
    .blog-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-title p::before {
        content: "";
        margin: 0;
    }
}

.blog-title p::before {
    content: "\f444";
    font-family: "Nerd Font";
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.tags {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.tags p {
    display: inline;
    color: var(--yellow);
    margin: 0;
}

.blog-link {
    color: var(--fg);
    text-decoration: none;
}

.comment {
    font-size: 0.8em;
}

/* ---------------------------------------------------------- */
/* Not found */
/* ---------------------------------------------------------- */

.not-found {
    text-align: center;
}

.not-found p {
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 10em;
    color: var(--red);
}

/* ---------------------------------------------------------- */
/* Comments */
/* ---------------------------------------------------------- */

.gt-container .gt-btn-preview {
    color: var(--green);
    border-color: var(--green);
    background-color: var(--bg0);
}
.gt-container .gt-btn-preview:hover {
    color: var(--green);
    border-color: var(--green);
    background-color: var(--bg1);
}

.gt-container .gt-btn-public {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--bg0);
}

.gt-container .gt-btn-public:hover {
    color: var(--bg1);
    background-color: var(--green);
    border-color: var(--green);
}

.gt-container a:hover {
    color: var(--green);
    border-color: var(--green);
}

.gt-container .gt-header-textarea,
.gt-container .gt-header-textarea:hover,
.gt-container .gt-header-preview,
.gt-container .gt-comment-admin .gt-comment-content,
.gt-container .gt-comment-content {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
    border-radius: 5px;
    color: var(--fg);
}

.gt-container .gt-comment-body {
    color: var(--fg) !important;
}

.gt-container .gt-comment-username {
    color: var(--green);
}

.gt-container .gt-comment-content:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gt-container a.gt-link.gt-link-counts {
    color: var(--green);
}

.gt-container .gt-popup {
    background-color: var(--bg1);
    border-color: var(--bg2);
    border-radius: 5px;
}

.gt-container a.is--active {
    color: var(--fg);
    cursor: default !important;
}
.gt-container a.is--active:hover {
    color: var(--fg);
}

.gt-container .gt-error {
    color: var(--red);
}

.gt-container .gt-meta {
    border-bottom: 1px solid var(--bg1);
    margin-top: 0;
}
